
Body {
    padding: 25px;
    font-family: "Noto Sans", sans-serif;
  background: #f0dbb6;
}
img { 
  width: 550px;
}
img:hover{
  transform: scale(1.01);
  transform: filter: blur(100%);
  
  box-shadow: 0 0 20px brown;
}
.title {
  font-family: "Noto Sans", sans-serif;
  color: White;
}
   Button{
    background: brown;
    color: white;
    font-family: "Noto Sans", sans-serif;
  }
  
   Button:hover{
  transform: scale(1.1);
  
  box-shadow: 0 0 20px brown;
}
